<nz-breadcrumb style="margin:12px 0;">
  <nz-breadcrumb-item>KPI考核</nz-breadcrumb-item>
  <nz-breadcrumb-item>我的KPI绩效计划</nz-breadcrumb-item>
</nz-breadcrumb>
<div style="padding:24px; background: #fff; min-height: 360px;">
  <div style="margin-bottom: 16px;">
    <button nz-button [disabled]="!_disabledButton" [nzType]="'primary'" [nzLoading]="_operating" (click)="_addData()">增加指标</button>
    <button nz-button [disabled]="_disabledButton" [nzType]="'primary'" [nzLoading]="_operating" (click)="_modifyData()">修改指标</button>
    <button nz-button [disabled]="_disabledButton" [nzType]="'primary'" [nzLoading]="_operating" (click)="_deleteData()">删除指标</button>
    <button nz-button [nzType]="'primary'" [nzLoading]="_operating" (click)="_operateData()">保存绩效计划</button>
    <button nz-button [nzType]="'primary'" [nzLoading]="_operating" (click)="_operateData()">提交上级审核</button>
    <button nz-button [nzType]="'primary'" [nzLoading]="_operating" (click)="_operateData()">下载导入模板</button>
    <button nz-button [nzType]="'primary'" [nzLoading]="_operating" (click)="_operateData()">导入年度计划</button>
    <span style="margin-left: 8px;" *ngIf="_checkedNumber">Selected {{_checkedNumber}} items</span>
  </div>
  <nz-table #nzTable [nzDataSource]="_dataSet" [nzPageSize]="10" (nzDataChange)="_displayDataChange($event)" (nzPageIndexChange)="_refreshStatus()"
    (nzPageSizeChange)="_refreshStatus()">
    <thead nz-thead>
      <tr>
        <th nz-th [nzCheckbox]="true">
          <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
            </label>
        </th>
        <th nz-th><span>序号</span></th>
        <th nz-th><span>KPI指标</span></th>
        <th nz-th><span>权重</span></th>
        <th nz-th><span>评分标准</span></th>
        <th nz-th><span>年度目标</span></th>
        <th nz-th><span>1月</span></th>
        <th nz-th><span>2月</span></th>
    
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i=index">
        <td nz-td [nzCheckbox]="true">
          <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
            </label>
        </td>
        <td nz-td>{{i+1}}</td>
        <td nz-td>{{data.name}}</td>
        <td nz-td>{{data.weight}}</td>
        <td nz-td>{{data.goal}}</td>
        <td nz-td>{{data.standard}}</td>
        <td nz-td>{{data.Jan}}</td>
        <td nz-td>{{data.Feb}}</td>
  
      </tr>
    </tbody>
  </nz-table>
  <nz-modal [nzVisible]="isVisible" [nzTitle]="operateName=='add' ? '添加指标':'修改指标'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)"
    [nzConfirmLoading]="isConfirmLoading">
    <ng-template #modalContent>
      <form nz-form [nzLayout]="horizontal" [formGroup]="normForm" #f="ngForm" (ngSubmit)="_submitForm(f.value)">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>KPI指标</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="normForm.controls.name">
            <nz-input formControlName="name" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" >
            </nz-input>
            <div nz-form-explain *ngIf="normForm.controls.name.dirty&&normForm.controls.name.hasError('required')">Please input your username!</div>
          </div>
        </div>
         <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>权重</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="normForm.controls.weight">
            <nz-input formControlName="weight" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" >
            </nz-input>
            <div nz-form-explain *ngIf="normForm.controls.weight.dirty&&normForm.controls.weight.hasError('required')">Please input your username!</div>
          </div>
        </div>
         <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>评分标准</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="normForm.controls.standard">
            <nz-input formControlName="standard" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" >
            </nz-input>
            <div nz-form-explain *ngIf="normForm.controls.standard.dirty&&normForm.controls.standard.hasError('required')">Please input your username!</div>
          </div>
        </div>
         <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>年度目标</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="normForm.controls.goal">
            <nz-input formControlName="goal" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" >
            </nz-input>
            <div nz-form-explain *ngIf="normForm.controls.goal.dirty&&normForm.controls.goal.hasError('required')">Please input your username!</div>
          </div>
        </div>
         <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>1月</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="normForm.controls.Jan">
            <nz-input formControlName="Jan" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" >
            </nz-input>
            <div nz-form-explain *ngIf="normForm.controls.Jan.dirty&&normForm.controls.Jan.hasError('required')">Please input your username!</div>
          </div>
        </div>
         <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>2月</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="normForm.controls.Feb">
            <nz-input formControlName="Feb" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" >
            </nz-input>
            <div nz-form-explain *ngIf="normForm.controls.Feb.dirty&&normForm.controls.Feb.hasError('required')">Please input your username!</div>
          </div>
        </div>
       <p>Form value: {{ normForm.value | json }}</p>
      </form>
    </ng-template>
  </nz-modal>
</div>
