 <nz-modal [nzVisible]="isModifyVisible" [nzTitle]="'修改指标'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)"
    [nzConfirmLoading]="isConfirmLoading">
    <ng-template #modalContent>
      <form nz-form [nzLayout]="validateForm.controls?.formLayout?.value" [formGroup]="validateForm" #f="ngForm" (ngSubmit)="_submitForm(f.value)">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="isHorizontal?4:false">
            <label>KPI指标</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="isHorizontal?14:false" [nzValidateStatus]="validateForm.controls.name">
            <nz-input formControlName="name" [nzPlaceHolder]="'请输入'" [nzSize]="'large'">
            </nz-input>
            <div nz-form-explain *ngIf="validateForm.controls.name.dirty&&validateForm.controls.name.hasError('required')">Please input your username!</div>
          </div>
        </div>
         <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="isHorizontal?4:false">
            <label>权重</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="isHorizontal?14:false" [nzValidateStatus]="validateForm.controls.weight">
            <nz-input formControlName="weight" [nzPlaceHolder]="'请输入'" [nzSize]="'large'">
            </nz-input>
            <div nz-form-explain *ngIf="validateForm.controls.weight.dirty&&validateForm.controls.weight.hasError('required')">Please input your username!</div>
          </div>
        </div>

       <p>Form value: {{ validateForm.value | json }}</p>
      </form>
    </ng-template>
  </nz-modal>