<nz-breadcrumb style="margin:12px 0;">
  <nz-breadcrumb-item>KPI考核</nz-breadcrumb-item>
  <nz-breadcrumb-item>我的KPI绩效计划</nz-breadcrumb-item>
</nz-breadcrumb>
<div style="padding:24px; background: #fff; min-height: 360px;">
  <div style="margin-bottom: 16px;">
    <button nz-button [disabled]="!_disabledButton" [nzType]="'primary'" [nzLoading]="_operating" (click)="_addData()">增加指标</button>
    <button nz-button [disabled]="_disabledButton" [nzType]="'primary'" [nzLoading]="_operating" (click)="_modifyData()">修改指标</button>
    <button nz-button [disabled]="_disabledButton" [nzType]="'primary'" [nzLoading]="_operating" (click)="_deleteData()">删除指标</button>
    <button nz-button [nzType]="'primary'" [nzLoading]="_operating" (click)="_operateData()">保存绩效计划</button>
    <button nz-button [nzType]="'primary'" [nzLoading]="_operating" (click)="_operateData()">提交上级审核</button>
    <button nz-button [nzType]="'primary'" [nzLoading]="_operating" (click)="_operateData()"><i class="anticon anticon-download"></i><span>下载导入模板</span></button>
    <btn-upload [btnText]="btnString"></btn-upload>
  </div>
  <nz-table #nzTable  [nzAjaxData]="_dataSet" (nzPageIndexChange)="_refreshData()" (nzPageSizeChange)="_refreshData()"
      [nzShowSizeChanger]="true"
      [nzLoading]="_loading"
      [nzTotal]="_total"
      [(nzPageIndex)]="_current"
      [(nzPageSize)]="_pageSize">
    <thead nz-thead>
      <tr>
        <th nz-th [nzCheckbox]="true">
          <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
            </label>
        </th>
        <th nz-th><span>序号</span></th>
        <th nz-th><span>KPI指标</span></th>
        <th nz-th><span>权重</span></th>
        <th nz-th><span>评分标准</span></th>
        <th nz-th><span>年度目标</span></th>
        <th nz-th><span>1月</span></th>
        <th nz-th><span>2月</span></th>
    
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i=index">
        <td nz-td [nzCheckbox]="true">
          <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
            </label>
        </td>
        <td nz-td>{{i+1}}</td>
        <td nz-td>{{data.name}}</td>
        <td nz-td>{{data.weight}}</td>
        <td nz-td>{{data.goal}}</td>
        <td nz-td>{{data.standard}}</td>
        <td nz-td>{{data.Jan}}</td>
        <td nz-td>{{data.Feb}}</td>
  
      </tr>
    </tbody>
  </nz-table>
 
</div>
