<nz-layout style="min-height:100vh">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-submenu>
        <span title routerLink="kpi"><i class="anticon anticon-user"></i><span class="nav-text" >KPI考核</span></span>
        <ul>
          <li nz-menu-item routerLink="/kpi/myplan" routerLinkActive="active-link">我的KPI绩效计划</li>
          <li nz-menu-item routerLink="/kpi/plancheck" routerLinkActive="active-link">KPI绩效计划审核</li>
          <li nz-menu-item routerLink="/kpi/plansubmit" routerLinkActive="active-link">KPI绩效数据提报</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-pie-chart"></i><span class="nav-text">360度考核</span></span>
        <ul>
          <li nz-menu-item routerLink="/tour/mark" routerLinkActive="active-link">360度考核打分</li>
          <li nz-menu-item routerLink="/tour/result" routerLinkActive="active-link">360度考核结果</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-credit-card"></i><span class="nav-text">述职考核</span></span>
        <ul>
          <li nz-menu-item routerLink="/report/fill" routerLinkActive="active-link">填报述职报告</li>
          <li nz-menu-item routerLink="/report/inquire" routerLinkActive="active-link">查询述职报告</li>
          <li nz-menu-item routerLink="/report/mark" routerLinkActive="active-link">述职报告评分</li>
          <li nz-menu-item routerLink="/report/myresult" routerLinkActive="active-link">我的述职结果</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
      <div class="head-r">

      <span>欢迎回来 <b>123123!</b></span>
      <nz-tooltip nzTitle="登出" nzPlacement="left" (click)="onLogout()">
        <i nz-tooltip class="anticon trigger anticon-logout"></i>
      </nz-tooltip>
      </div>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <router-outlet></router-outlet>
    </nz-content>
    
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
