.login{
    min-width: 500px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    .login-form{
        padding: 15px;
border-radius: 4px;
    background: #fff;
    }
     .login-form-button {
      width: 100%;
    }
}  