
      <form nz-form [nzLayout]="horizontal" [formGroup]="normForm" #f="ngForm" (ngSubmit)="_submitForm() ">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>KPI指标</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="getFormControl('name')">
            <nz-input formControlName="name" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" >
            </nz-input>
            <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">Please input your username!</div>
          </div>
        </div>
         <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>权重</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="getFormControl('weight')">
            <nz-input formControlName="weight" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" >
            </nz-input>
            <div nz-form-explain *ngIf="getFormControl('weight').dirty&&getFormControl('weight').hasError('required')">Please input your username!</div>
          </div>
        </div>
         <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>评分标准</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="getFormControl('standard')">
            <nz-input formControlName="standard" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" >
            </nz-input>
            <div nz-form-explain *ngIf="getFormControl('standard').dirty&&getFormControl('standard').hasError('required')">Please input your username!</div>
          </div>
        </div>
         <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>年度目标</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="getFormControl('goal')">
            <nz-input formControlName="goal" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" >
            </nz-input>
            <div nz-form-explain *ngIf="getFormControl('goal').dirty&&getFormControl('goal').hasError('required')">Please input your username!</div>
          </div>
        </div>
         <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>1月</label>   
          </div>
          <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="getFormControl('Jan')">
            <nz-input formControlName="Jan" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" >
            </nz-input>
            <div nz-form-explain *ngIf="getFormControl('Jan').dirty&&getFormControl('Jan').hasError('required')">Please input your username!</div>
          </div>
        </div>
         <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>2月</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="getFormControl('Feb')">
            <nz-input formControlName="Feb" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" >
            </nz-input>
            <div nz-form-explain *ngIf="getFormControl('Feb').dirty&&getFormControl('Feb').hasError('required')">Please input your username!</div>
          </div>
        </div>
        <div class="customize-modal-footer ">
        <button nz-button [nzType]="'default'" type="button" (click)="onCancel()">返 回</button>
        <button nz-button [nzType]="'primary'" type="submit" [nzLoading]="submitted">确定</button>
      </div>
       <p>Form value: {{ normForm.value | json }}</p>
      </form>
